In [94]:
from pandas import Series, DataFrame
import operator
import pandas as pd

In [95]:
file_dir = 'A1Ratings.csv'
frame = pd.read_csv(file_dir)
frame

,User,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,1,5,2,NaN,4,4,2,2,NaN,...,2,NaN,5,2,NaN,4,2,5,NaN,NaN
1,5277,5,3,NaN,2,4,2,1,NaN,NaN,...,3,2,2,NaN,2,NaN,5,1,3,NaN
2,1577,NaN,NaN,NaN,5,2,NaN,4,NaN,NaN,...,NaN,1,4,4,1,1,2,3,1,3
3,4388,NaN,3,NaN,NaN,NaN,1,2,3,4,...,NaN,4,1,3,5,NaN,5,1,1,2
4,1202,4,3,4,1,4,1,NaN,4,NaN,...,5,1,NaN,4,NaN,3,5,5,NaN,NaN
5,3823,2,4,4,4,NaN,NaN,3,1,4,...,5,2,4,NaN,1,NaN,NaN,3,NaN,2
6,5448,NaN,NaN,3,1,1,4,NaN,5,2,...,1,NaN,NaN,3,NaN,1,NaN,NaN,5,2
7,5347,4,NaN,NaN,NaN,3,2,2,NaN,3,...,NaN,2,3,2,4,NaN,1,3,5,NaN
8,4117,5,1,NaN,4,2,4,4,4,NaN,...,2,3,1,NaN,5,NaN,NaN,NaN,NaN,5
9,2765,4,2,NaN,5,3,NaN,4,3,4,...,NaN,NaN,2,NaN,NaN,2,5,1,NaN,NaN
10,5450,2,1,5,NaN,NaN,5,5,NaN,NaN,...,NaN,3,2,NaN,NaN,1,NaN,2,1,4
11,139,3,5,2,NaN,2,NaN,2,NaN,1,...,3,NaN,3,NaN,2,5,NaN,NaN,NaN,2
12,1940,2,3,NaN,5,4,NaN,4,5,NaN,...,NaN,2,4,NaN,3,NaN,NaN,NaN,5,NaN
13,3118,3,NaN,3,NaN,2,NaN,3,NaN,NaN,...,NaN,1,2,2,3,5,1,NaN,NaN,NaN
14,4656,4,4,NaN,NaN,5,5,2,NaN,3,...,NaN,1,3,NaN,2,NaN,3,NaN,3,1
15,4796,NaN,NaN,1,NaN,3,2,NaN,2,NaN,...,5,NaN,NaN,NaN,5,2,2,4,3,4
16,6037,NaN,NaN,NaN,NaN,4,NaN,2,NaN,2,...,2,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN
17,3048,4,5,1,5,1,1,4,NaN,5,...,NaN,NaN,NaN,4,NaN,NaN,2,1,2,5
18,4790,5,1,NaN,NaN,NaN,4,2,1,3,...,3,1,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN
19,4489,1,2,2,4,5,NaN,2,3,2,...,1,NaN,NaN,5,5,4,3,5,3,NaN

In [131]:
# Assignment 1-1
frame.mean()

User                                                       3658.100000
260: Star Wars: Episode IV - A New Hope (1977)                3.266667
1210: Star Wars: Episode VI - Return of the Jedi (1983)       3.000000
356: Forrest Gump (1994)                                      2.700000
318: Shawshank Redemption, The (1994)                         3.600000
593: Silence of the Lambs, The (1991)                         3.062500
3578: Gladiator (2000)                                        2.916667
1: Toy Story (1995)                                           2.823529
2028: Saving Private Ryan (1998)                              3.000000
296: Pulp Fiction (1994)                                      3.000000
1259: Stand by Me (1986)                                      2.636364
2396: Shakespeare in Love (1998)                              2.909091
2916: Total Recall (1990)                                     1.916667
780: Independence Day (ID4) (1996)                            2.769231
541: Blade Runner (1982)                                      3.222222
1265: Groundhog Day (1993)                                    3.166667
2571: Matrix, The (1999)                                      2.833333
527: Schindler's List (1993)                                  3.000000
2762: Sixth Sense, The (1999)                                 2.833333
1198: Raiders of the Lost Ark (1981)                          2.909091
34: Babe (1995)                                               3.000000
dtype: float64

In [113]:
# Assignment 1-3
cols = frame.columns
d = dict()
for c in cols:
    d[c] = (frame[c] >= 4).value_counts()[True].astype(float) / frame[c].count() * 100

d = sorted(d.items(), key=operator.itemgetter(1),reverse = True)
print d

[('User', 100.0), ('318: Shawshank Redemption, The (1994)', 70.0), ('260: Star Wars: Episode IV - A New Hope (1977)', 53.333333333333336), ('3578: Gladiator (2000)', 50.0), ('541: Blade Runner (1982)', 44.444444444444443), ('593: Silence of the Lambs, The (1991)', 43.75), ('1265: Groundhog Day (1993)', 41.666666666666671), ('2571: Matrix, The (1999)', 41.666666666666671), ('34: Babe (1995)', 40.0), ('2028: Saving Private Ryan (1998)', 36.363636363636367), ('296: Pulp Fiction (1994)', 36.363636363636367), ('1259: Stand by Me (1986)', 36.363636363636367), ('1210: Star Wars: Episode VI - Return of the Jedi (1983)', 35.714285714285715), ('1: Toy Story (1995)', 35.294117647058826), ("527: Schindler's List (1993)", 33.333333333333329), ('2762: Sixth Sense, The (1999)', 33.333333333333329), ('780: Independence Day (ID4) (1996)', 30.76923076923077), ('356: Forrest Gump (1994)', 30.0), ('2396: Shakespeare in Love (1998)', 27.27272727272727), ('1198: Raiders of the Lost Ark (1981)', 27.27272727272727), ('2916: Total Recall (1990)', 8.3333333333333321)]

In [111]:
# Assignment 1-2
cols = frame.columns
temp = frame.fillna(0)
d = dict()
for c in cols:
    d[c] = (frame[c] > 0).value_counts()[True]
    
d = sorted(d.items(), key=operator.itemgetter(1),reverse = True)
print d

[('User', 20), ('1: Toy Story (1995)', 17), ('593: Silence of the Lambs, The (1991)', 16), ('260: Star Wars: Episode IV - A New Hope (1977)', 15), ('1210: Star Wars: Episode VI - Return of the Jedi (1983)', 14), ('780: Independence Day (ID4) (1996)', 13), ("527: Schindler's List (1993)", 12), ('1265: Groundhog Day (1993)', 12), ('2762: Sixth Sense, The (1999)', 12), ('2571: Matrix, The (1999)', 12), ('2916: Total Recall (1990)', 12), ('3578: Gladiator (2000)', 12), ('2028: Saving Private Ryan (1998)', 11), ('296: Pulp Fiction (1994)', 11), ('2396: Shakespeare in Love (1998)', 11), ('1198: Raiders of the Lost Ark (1981)', 11), ('1259: Stand by Me (1986)', 11), ('318: Shawshank Redemption, The (1994)', 10), ('34: Babe (1995)', 10), ('356: Forrest Gump (1994)', 10), ('541: Blade Runner (1982)', 9)]

In [127]:
# Assignment 1-4
cols = frame.columns
temp = frame.fillna(0)
numOfStarwars = (temp['260: Star Wars: Episode IV - A New Hope (1977)'] >0).value_counts()[True]
temp2 = temp[ temp['260: Star Wars: Episode IV - A New Hope (1977)'] >0]
d = dict()
for c in cols:
    d[c] = (temp2[c] > 0).value_counts()[True].astype(float) / numOfStarwars.astype(float) * 100

d = sorted(d.items(), key=operator.itemgetter(1),reverse = True)
print d

[('User', 100.0), ('260: Star Wars: Episode IV - A New Hope (1977)', 100.0), ('1: Toy Story (1995)', 93.333333333333329), ('1210: Star Wars: Episode VI - Return of the Jedi (1983)', 86.666666666666671), ('593: Silence of the Lambs, The (1991)', 80.0), ('780: Independence Day (ID4) (1996)', 73.333333333333329), ('2916: Total Recall (1990)', 66.666666666666657), ("527: Schindler's List (1993)", 60.0), ('1265: Groundhog Day (1993)', 60.0), ('2762: Sixth Sense, The (1999)', 60.0), ('1259: Stand by Me (1986)', 60.0), ('3578: Gladiator (2000)', 60.0), ('318: Shawshank Redemption, The (1994)', 53.333333333333336), ('2028: Saving Private Ryan (1998)', 53.333333333333336), ('296: Pulp Fiction (1994)', 53.333333333333336), ('2396: Shakespeare in Love (1998)', 53.333333333333336), ('2571: Matrix, The (1999)', 53.333333333333336), ('356: Forrest Gump (1994)', 53.333333333333336), ('1198: Raiders of the Lost Ark (1981)', 46.666666666666664), ('34: Babe (1995)', 40.0), ('541: Blade Runner (1982)', 40.0)]